<%- include('./partials/header') %>
<h1>Welcome to Cheng's Week 4 Team Picker</h1>
<div>
    <img src='https://chengpham.com/homepage/avatar.png' height='400px'>
</div>

<%- include('./partials/footer') %>
